/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

.u-m-zero {
  margin: 0 !important; }

.u-mt-zero {
  margin-top: 0 !important; }

.u-mr-zero {
  margin-right: 0 !important; }

.u-mb-zero {
  margin-bottom: 0 !important; }

.u-ml-zero {
  margin-left: 0 !important; }

.u-mv-zero {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-mh-zero {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.u-m-auto {
  margin: auto !important; }

.u-mt-auto {
  margin-top: auto !important; }

.u-mr-auto {
  margin-right: auto !important; }

.u-mb-auto {
  margin-bottom: auto !important; }

.u-ml-auto {
  margin-left: auto !important; }

.u-mv-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.u-mh-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.u-m-xsmall {
  margin: 0.625rem !important; }

.u-mt-xsmall {
  margin-top: 0.625rem !important; }

.u-mr-xsmall {
  margin-right: 0.625rem !important; }

.u-mb-xsmall {
  margin-bottom: 0.625rem !important; }

.u-ml-xsmall {
  margin-left: 0.625rem !important; }

.u-mv-xsmall {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important; }

.u-mh-xsmall {
  margin-right: 0.625rem !important;
  margin-left: 0.625rem !important; }

.u-m-small {
  margin: 0.9375rem !important; }

.u-mt-small {
  margin-top: 0.9375rem !important; }

.u-mr-small {
  margin-right: 0.9375rem !important; }

.u-mb-small {
  margin-bottom: 0.9375rem !important; }

.u-ml-small {
  margin-left: 0.9375rem !important; }

.u-mv-small {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important; }

.u-mh-small {
  margin-right: 0.9375rem !important;
  margin-left: 0.9375rem !important; }

.u-m-medium {
  margin: 1.875rem !important; }

.u-mt-medium {
  margin-top: 1.875rem !important; }

.u-mr-medium {
  margin-right: 1.875rem !important; }

.u-mb-medium {
  margin-bottom: 1.875rem !important; }

.u-ml-medium {
  margin-left: 1.875rem !important; }

.u-mv-medium {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important; }

.u-mh-medium {
  margin-right: 1.875rem !important;
  margin-left: 1.875rem !important; }

.u-m-large {
  margin: 3.125rem !important; }

.u-mt-large {
  margin-top: 3.125rem !important; }

.u-mr-large {
  margin-right: 3.125rem !important; }

.u-mb-large {
  margin-bottom: 3.125rem !important; }

.u-ml-large {
  margin-left: 3.125rem !important; }

.u-mv-large {
  margin-top: 3.125rem !important;
  margin-bottom: 3.125rem !important; }

.u-mh-large {
  margin-right: 3.125rem !important;
  margin-left: 3.125rem !important; }

.u-m-xlarge {
  margin: 6.25rem !important; }

.u-mt-xlarge {
  margin-top: 6.25rem !important; }

.u-mr-xlarge {
  margin-right: 6.25rem !important; }

.u-mb-xlarge {
  margin-bottom: 6.25rem !important; }

.u-ml-xlarge {
  margin-left: 6.25rem !important; }

.u-mv-xlarge {
  margin-top: 6.25rem !important;
  margin-bottom: 6.25rem !important; }

.u-mh-xlarge {
  margin-right: 6.25rem !important;
  margin-left: 6.25rem !important; }

/**
 * Paddings
 *
 * p  -> all sides
 * pt -> padding-top
 * pr -> padding-right 
 * pb -> padding-bottom
 * pl -> padding-left
 * pv -> padding-top & padding-bottom (vertically)
 * ph -> padding-right & padding-left (horizontaly)
 *
 */
.u-p-zero {
  padding: 0 !important; }

.u-pt-zero {
  padding-top: 0 !important; }

.u-pr-zero {
  padding-right: 0 !important; }

.u-pb-zero {
  padding-bottom: 0 !important; }

.u-pl-zero {
  padding-left: 0 !important; }

.u-pv-zero {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-ph-zero {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.u-p-auto {
  padding: auto !important; }

.u-pt-auto {
  padding-top: auto !important; }

.u-pr-auto {
  padding-right: auto !important; }

.u-pb-auto {
  padding-bottom: auto !important; }

.u-pl-auto {
  padding-left: auto !important; }

.u-pv-auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.u-ph-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.u-p-xsmall {
  padding: 0.625rem !important; }

.u-pt-xsmall {
  padding-top: 0.625rem !important; }

.u-pr-xsmall {
  padding-right: 0.625rem !important; }

.u-pb-xsmall {
  padding-bottom: 0.625rem !important; }

.u-pl-xsmall {
  padding-left: 0.625rem !important; }

.u-pv-xsmall {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important; }

.u-ph-xsmall {
  padding-right: 0.625rem !important;
  padding-left: 0.625rem !important; }

.u-p-small {
  padding: 0.9375rem !important; }

.u-pt-small {
  padding-top: 0.9375rem !important; }

.u-pr-small {
  padding-right: 0.9375rem !important; }

.u-pb-small {
  padding-bottom: 0.9375rem !important; }

.u-pl-small {
  padding-left: 0.9375rem !important; }

.u-pv-small {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important; }

.u-ph-small {
  padding-right: 0.9375rem !important;
  padding-left: 0.9375rem !important; }

.u-p-medium {
  padding: 1.875rem !important; }

.u-pt-medium {
  padding-top: 1.875rem !important; }

.u-pr-medium {
  padding-right: 1.875rem !important; }

.u-pb-medium {
  padding-bottom: 1.875rem !important; }

.u-pl-medium {
  padding-left: 1.875rem !important; }

.u-pv-medium {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important; }

.u-ph-medium {
  padding-right: 1.875rem !important;
  padding-left: 1.875rem !important; }

.u-p-large {
  padding: 3.125rem !important; }

.u-pt-large {
  padding-top: 3.125rem !important; }

.u-pr-large {
  padding-right: 3.125rem !important; }

.u-pb-large {
  padding-bottom: 3.125rem !important; }

.u-pl-large {
  padding-left: 3.125rem !important; }

.u-pv-large {
  padding-top: 3.125rem !important;
  padding-bottom: 3.125rem !important; }

.u-ph-large {
  padding-right: 3.125rem !important;
  padding-left: 3.125rem !important; }

.u-p-xlarge {
  padding: 6.25rem !important; }

.u-pt-xlarge {
  padding-top: 6.25rem !important; }

.u-pr-xlarge {
  padding-right: 6.25rem !important; }

.u-pb-xlarge {
  padding-bottom: 6.25rem !important; }

.u-pl-xlarge {
  padding-left: 6.25rem !important; }

.u-pv-xlarge {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important; }

.u-ph-xlarge {
  padding-right: 6.25rem !important;
  padding-left: 6.25rem !important; }